<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>
  <meta charset="utf-8">
  <title>{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}</title>
  <link rel="canonical" href="{{ .Site.BaseURL }}">
  <link rel='stylesheet' type='text/css' href='{{ .Site.BaseURL }}style.css'>
  <meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index, follow">
</head>

<body>
  <header>
    <h1>{{ block "title" . }}{{ end }}</h1>
  </header>

  <section>
    <article>
      {{ .Content }}
    </article>
  </section>

  <footer>
    <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    <a href="https://github.com/unamatasanatarai/ksiazka-z-przepisami">github</a>
  </footer>
</body>

</html>
